.loading-btn {
   padding: auto;
   width: 100%;
   display: flex;
   justify-content: center;
   vertical-align: baseline;
   height: 2rem;
}

.loading-p {
   margin-left: 1rem;
}



.row-cstm {
   margin-top: 8rem;
   margin-bottom: 8rem;
   display: flex;
   justify-content: center;
}