body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: auto;
  justify-content: center;
}

 ul {
  padding: 2%;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
