body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: auto;
  justify-content: center;
  border: green 2px solid;
}

ol, ul {
  padding-left: 30px;
}

h1{
  font-size: xx-large;
  padding-bottom: 20px;
}

p{
  font-size: medium;
  padding-top: 20px;
}

.game {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.game-board {
  margin: auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 2px solid lightgrey;
  float: left;
  font-size: 35px;
  color: rgb(83, 83, 83);
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 50px;
}





