/* SEARCH BAR */
.navbar-search {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 2.5rem;
}

.search-bar {
  display: inline-flex;
  width: 50%;

}

.img-large {
  width: 100%;
}

.product {
  height: 100%;
}

.product:hover {
  box-shadow: var(--default_shadow) 4px 4px 4px;
  border: 1px solid var(--dark_shadow);
}

.card-img {
  padding: 1rem;

  object-fit: scale-down;
}

/* HEADER ICONS */
.icon-btn {
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 50%;
}

.icon {
  font-size: small;
  padding: 0.3rem;
  min-width: 2rem;
  min-height: 2rem;
}

.cart-badge {
  position: absolute;
  margin-left: -0.5rem;
  }

.payment-form {
  padding: 4rem;
  border: 2px solid red;
}

/* FOOTER */
.footer-row {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.footer-img {
  width: 4rem;
  height: 100%;
  display: table;
}
.img-md {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.img-mc {

  padding-right: 0.5rem;
}

.img-pp {
  padding-left: 0.5rem;
;
}

/* CAROUSEL */
.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.navbar-brand {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  margin-right: 0.5rem;
}

.category-link {
  text-decoration: none;
  color: var(--default_shadow);
  margin-left: 0.8rem;
}

/* SHOPPING CART */
.img-thumbnail2 {
  max-height: 4rem;
}
