.img-large {
   width: 100%;
}

.product {
   height: 100%;
}


.product:hover {
   box-shadow:var(--default_shadow) 4px 4px 4px;
   border: 1px solid var(--dark_shadow);
}

.card-img {
   padding: 1rem;

   object-fit: scale-down; 
  
}

.logo-img {
   width: 6rem;
   vertical-align: middle;
   height: 100%;
}