/*------------------------------------
- SEARCH BAR START -
------------------------------------*/

.navbar-search {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 1.5rem;
}

.search-bar {
  display: inline-flex;
  width: 50%;
}

.img-large {
  width: 100%;
}

/*------------------------------------
- SEARCH BAR END -
------------------------------------*/

/*------------------------------------
- PRODUCT-CARD START -
------------------------------------*/

.product {
  height: 100%;
}

.product:hover {
  box-shadow: var(--default_shadow) 4px 4px 4px;
  border: 1px solid var(--dark_shadow);
}

.card-img {
  padding: 1rem;
  object-fit: scale-down;
}

.body-btn {
  max-height: 4.5rem;
  min-height: min-content;
}

/*------------------------------------
- PRODUCT-CARD END -
------------------------------------*/

/*------------------------------------
- HEADER START -
------------------------------------*/

.navbar-brand {
  text-decoration: none;
  color: var(--primary_t1);
  font-weight: 500;
  margin-right: 0.5rem;
  font-size: larger;
}

#category {
  color: var(--light_t1);
}
.category-link {
  text-decoration: none;
  color: var(--dark);
  margin-left: 0.8rem;
}
.category-link:hover {
  text-decoration: none;
  color: var(--success_t1);
  margin-left: 0.8rem;
}


/*------------------------------------
- HEADER ICONS -
------------------------------------*/
#arrow-user {
   color: var(--light_t1) !important;
   text-align: center;
}

.user-btn {
  border: 2px solid var(--light_t1) !important;
  color: var(--light_t1) !important;
  border-radius: 50%;
  font-size: large;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}
.icon-btn {
  padding: 0.2rem;
  border: 2px solid var(--light_t1) !important;
  color: var(--light_t1) !important;
  border-radius: 50%;

  width: 2.5rem;
  height: 2.5rem;
}

.cart-badge {
  position: absolute;
  margin-left: -0.5rem;
}

.payment-form {
  padding: 4rem;
  border: 2px solid red;
}

/*------------------------------------
- HEADER END -
------------------------------------*/

/*------------------------------------
- FOOTER START -
------------------------------------*/
#footer {
  padding-bottom: 1rem;
  background-color: var(--dark_t1);
  border-radius: 0;
}
#footer-header {
  color: var(--light_text_color_dark_bright);
  background-color: var(--light_shadow);
  border-radius: 0;
}

#footer-body {
  background-color: var(--dark_t1);
  color: var(--light_shadow);
}

.footer-link {
  text-decoration: none;
  color: var(--default_shadow);
}

/*------------------------------------
- FOOTER END -
------------------------------------*/

/*------------------------------------
- CAROUSEL START -
------------------------------------*/

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
/*------------------------------------
- CAROUSEL END -
------------------------------------*/

/*------------------------------------
- SHOPPING CART START -
------------------------------------*/

.img-thumbnail2 {
  max-height: 4rem;
}

.checkout-btn {
  text-decoration: none;
  color: var(--default_shadow);
  font-weight: 600;
}

.checkout-btn:hover {
  font-weight: bolder;
}

/*------------------------------------
- SHOPPING CART END -
------------------------------------*/
