body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
