

/*------------------------------------
- COLOR primary
------------------------------------*/

.alert-primary {
   color: var(--primary_t5);
   background-color: var(--primary_t9);
   border-color: var(--primary_t4);
}

.alert-primary hr {
   border-top-color: var(--primary_t3);
}

.alert-primary .alert-link {
   color: var(--primary_t8);
}

.badge-primary {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t1);
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t2);
}

.bg-primary {
   background-color: var(--primary_t1) !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
   background-color: var(--primary_t2) !important;
}

.border-primary {
   border-color: var(--primary_t1) !important;
}

.btn-primary {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t1);
   border-color: var(--primary_t1);
}

.btn-primary:hover {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t7);
   border-color: var(--primary_t2);
}

.btn-primary:focus,
.btn-primary.focus {
   box-shadow: 0 0 0 0.2rem var(--primary_shadow);
}

.btn-primary.disabled,
.btn-primary:disabled {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t1);
   border-color: var(--primary_t1);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t2);
   border-color: var(--primary_t6);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--primary_shadow);
}

.btn-outline-primary {
   color: var(--primary_t1);
   background-color: transparent;
   border-color: var(--primary_t1);
}

.btn-outline-primary:hover {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t1);
   border-color: var(--primary_t1);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
   box-shadow: 0 0 0 0.2rem var(--primary_shadow);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
   color: var(--primary_t1);
   background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t1);
   border-color: var(--primary_t1);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--primary_shadow);
}

.list-group-item-primary {
   color: var(--primary_t5);
   background-color: var(--primary_t4);
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
   color: var(--primary_t5);
   background-color: var(--primary_t3);
}

.list-group-item-primary.list-group-item-action.active {
   color: var(--primary_text_color_dark_bright);
   background-color: var(--primary_t5);
   border-color: var(--primary_t5);
}

.table-primary,
.table-primary>th,
.table-primary>td {
   background-color: var(--primary_t4);
}

.table-hover .table-primary:hover {
   background-color: var(--primary_t3);
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
   background-color: var(--primary_t3);
}

.text-primary {
   color: var(--primary_t1) !important;
}

a.text-primary:hover,
a.text-primary:focus {
   color: var(--primary_t2) !important;
}



/*------------------------------------
- COLOR secondary
------------------------------------*/



.alert-secondary {
   color: var(--secondary_t5);
   background-color: var(--secondary_t9);
   border-color: var(--secondary_t4);
}

.alert-secondary hr {
   border-top-color: var(--secondary_t3);
}

.alert-secondary .alert-link {
   color: var(--secondary_t8);
}

.badge-secondary {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t1);
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t2);
}

.bg-secondary {
   background-color: var(--secondary_t1) !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
   background-color: var(--secondary_t2) !important;
}

.border-secondary {
   border-color: var(--secondary_t1) !important;
}

.btn-secondary {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t1);
   border-color: var(--secondary_t1);
}

.btn-secondary:hover {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t7);
   border-color: var(--secondary_t2);
}

.btn-secondary:focus,
.btn-secondary.focus {
   box-shadow: 0 0 0 0.2rem var(--secondary_shadow);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t1);
   border-color: var(--secondary_t1);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t2);
   border-color: var(--secondary_t6);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--secondary_shadow);
}

.btn-outline-secondary {
   color: var(--secondary_t1);
   background-color: transparent;
   border-color: var(--secondary_t1);
}

.btn-outline-secondary:hover {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t1);
   border-color: var(--secondary_t1);
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
   box-shadow: 0 0 0 0.2rem var(--secondary_shadow);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
   color: var(--secondary_t1);
   background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t1);
   border-color: var(--secondary_t1);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--secondary_shadow);
}

.list-group-item-secondary {
   color: var(--secondary_t5);
   background-color: var(--secondary_t4);
}

.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
   color: var(--secondary_t5);
   background-color: var(--secondary_t3);
}

.list-group-item-secondary.list-group-item-action.active {
   color: var(--secondary_text_color_dark_bright);
   background-color: var(--secondary_t5);
   border-color: var(--secondary_t5);
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
   background-color: var(--secondary_t4);
}

.table-hover .table-secondary:hover {
   background-color: var(--secondary_t3);
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
   background-color: var(--secondary_t3);
}

.text-secondary {
   color: var(--secondary_t1) !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
   color: var(--secondary_t2) !important;
}


/*------------------------------------
- COLOR light
------------------------------------*/

.alert-light {
   color: var(--light_t5);
   background-color: var(--light_t9);
   border-color: var(--light_t4);
}

.alert-light hr {
   border-top-color: var(--light_t3);
}

.alert-light .alert-link {
   color: var(--light_t8);
}

.badge-light {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t1);
}

.badge-light[href]:hover,
.badge-light[href]:focus {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t2);
}

.bg-light {
   background-color: var(--light_t1) !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
   background-color: var(--light_t2) !important;
}

.border-light {
   border-color: var(--light_t1) !important;
}

.btn-light {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t1);
   border-color: var(--light_t1);
}

.btn-light:hover {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t7);
   border-color: var(--light_t2);
}

.btn-light:focus,
.btn-light.focus {
   box-shadow: 0 0 0 0.2rem var(--light_shadow);
}

.btn-light.disabled,
.btn-light:disabled {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t1);
   border-color: var(--light_t1);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t2);
   border-color: var(--light_t6);
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--light_shadow);
}

.btn-outline-light {
   color: var(--light_t1);
   background-color: transparent;
   border-color: var(--light_t1);
}

.btn-outline-light:hover {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t1);
   border-color: var(--light_t1);
}

.btn-outline-light:focus,
.btn-outline-light.focus {
   box-shadow: 0 0 0 0.2rem var(--light_shadow);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
   color: var(--light_t1);
   background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t1);
   border-color: var(--light_t1);
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--light_shadow);
}

.list-group-item-light {
   color: var(--light_t5);
   background-color: var(--light_t4);
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
   color: var(--light_t5);
   background-color: var(--light_t3);
}

.list-group-item-light.list-group-item-action.active {
   color: var(--light_text_color_dark_bright);
   background-color: var(--light_t5);
   border-color: var(--light_t5);
}

.table-light,
.table-light>th,
.table-light>td {
   background-color: var(--light_t4);
}

.table-hover .table-light:hover {
   background-color: var(--light_t3);
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
   background-color: var(--light_t3);
}

.text-light {
   color: var(--light_t1) !important;
}

a.text-light:hover,
a.text-light:focus {
   color: var(--light_t2) !important;
}



/*------------------------------------
- COLOR dark
------------------------------------*/

.alert-dark {
   color: var(--dark_t5);
   background-color: var(--dark_t9);
   border-color: var(--dark_t4);
}

.alert-dark hr {
   border-top-color: var(--dark_t3);
}

.alert-dark .alert-link {
   color: var(--dark_t8);
}

.badge-dark {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t1);
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t2);
}

.bg-dark {
   background-color: var(--dark_t1) !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
   background-color: var(--dark_t2) !important;
}

.border-dark {
   border-color: var(--dark_t1) !important;
}

.btn-dark {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t1);
   border-color: var(--dark_t1);
}

.btn-dark:hover {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t7);
   border-color: var(--dark_t2);
}

.btn-dark:focus,
.btn-dark.focus {
   box-shadow: 0 0 0 0.2rem var(--dark_shadow);
}

.btn-dark.disabled,
.btn-dark:disabled {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t1);
   border-color: var(--dark_t1);
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t2);
   border-color: var(--dark_t6);
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--dark_shadow);
}

.btn-outline-dark {
   color: var(--dark_t1);
   background-color: transparent;
   border-color: var(--dark_t1);
}

.btn-outline-dark:hover {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t1);
   border-color: var(--dark_t1);
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
   box-shadow: 0 0 0 0.2rem var(--dark_shadow);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
   color: var(--dark_t1);
   background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t1);
   border-color: var(--dark_t1);
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem var(--dark_shadow);
}

.list-group-item-dark {
   color: var(--dark_t5);
   background-color: var(--dark_t4);
}

.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus {
   color: var(--dark_t5);
   background-color: var(--dark_t3);
}

.list-group-item-dark.list-group-item-action.active {
   color: var(--dark_text_color_dark_bright);
   background-color: var(--dark_t5);
   border-color: var(--dark_t5);
}

.table-dark,
.table-dark>th,
.table-dark>td {
   background-color: var(--dark_t4);
}

.table-hover .table-dark:hover {
   background-color: var(--dark_t3);
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
   background-color: var(--dark_t3);
}

.text-dark {
   color: var(--dark_t1) !important;
}

a.text-dark:hover,
a.text-dark:focus {
   color: var(--dark_t2) !important;
}



/*------------------------------------
- COLOR default
------------------------------------*/

.alert-default {
  color: var(--default_t5);
  background-color: var(--default_t9);
  border-color: var(--default_t4);
}

.alert-default hr {
  border-top-color: var(--default_t3);
}

.alert-default .alert-link {
  color: var(--default_t8);
}

.badge-default {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t1);
}

.badge-default[href]:hover, .badge-default[href]:focus {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t2);
}

.bg-default {
  background-color: var(--default_t1) !important;
}

a.bg-default:hover, a.bg-default:focus,
button.bg-default:hover,
button.bg-default:focus {
  background-color: var(--default_t2) !important;
}

.border-default {
  border-color: var(--default_t1) !important;
}

.btn-default {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t1);
  border-color: var(--default_t1);
}

.btn-default:hover {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t7);
  border-color: var(--default_t2);
}

.btn-default:focus, .btn-default.focus {
  box-shadow: 0 0 0 0.2rem var(--default_shadow);
}

.btn-default.disabled, .btn-default:disabled {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t1);
  border-color: var(--default_t1);
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active, .show > .btn-default.dropdown-toggle {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t2);
  border-color: var(--default_t6);
}

.btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus, .show > .btn-default.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--default_shadow);
}

.btn-outline-default {
  color: var(--default_t1);
  background-color: transparent;
  border-color: var(--default_t1);
}

.btn-outline-default:hover {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t1);
  border-color: var(--default_t1);
}

.btn-outline-default:focus, .btn-outline-default.focus {
  box-shadow: 0 0 0 0.2rem var(--default_shadow);
}

.btn-outline-default.disabled, .btn-outline-default:disabled {
  color: var(--default_t1);
  background-color: transparent;
}

.btn-outline-default:not(:disabled):not(.disabled):active, .btn-outline-default:not(:disabled):not(.disabled).active, .show > .btn-outline-default.dropdown-toggle {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t1);
  border-color: var(--default_t1);
}

.btn-outline-default:not(:disabled):not(.disabled):active:focus, .btn-outline-default:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-default.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--default_shadow);
}

.list-group-item-default {
  color: var(--default_t5);
  background-color: var(--default_t4);
}

.list-group-item-default.list-group-item-action:hover, .list-group-item-default.list-group-item-action:focus {
  color: var(--default_t5);
  background-color: var(--default_t3);
}

.list-group-item-default.list-group-item-action.active {
  color: var(--default_text_color_dark_bright);
  background-color: var(--default_t5);
  border-color: var(--default_t5);
}

.table-default,
.table-default > th,
.table-default > td {
  background-color: var(--default_t4);
}

.table-hover .table-default:hover {
  background-color: var(--default_t3);
}

.table-hover .table-default:hover > td,
.table-hover .table-default:hover > th {
  background-color: var(--default_t3);
}

.text-default {
  color: var(--default_t1) !important;
}

a.text-default:hover, a.text-default:focus {
  color: var(--default_t2) !important;
}



/*------------------------------------
- COLOR info
------------------------------------*/

.alert-info {
  color: var(--info_t5);
  background-color: var(--info_t9);
  border-color: var(--info_t4);
}

.alert-info hr {
  border-top-color: var(--info_t3);
}

.alert-info .alert-link {
  color: var(--info_t8);
}

.badge-info {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t1);
}

.badge-info[href]:hover, .badge-info[href]:focus {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t2);
}

.bg-info {
  background-color: var(--info_t1) !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: var(--info_t2) !important;
}

.border-info {
  border-color: var(--info_t1) !important;
}

.btn-info {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t1);
  border-color: var(--info_t1);
}

.btn-info:hover {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t7);
  border-color: var(--info_t2);
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem var(--info_shadow);
}

.btn-info.disabled, .btn-info:disabled {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t1);
  border-color: var(--info_t1);
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t2);
  border-color: var(--info_t6);
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--info_shadow);
}

.btn-outline-info {
  color: var(--info_t1);
  background-color: transparent;
  border-color: var(--info_t1);
}

.btn-outline-info:hover {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t1);
  border-color: var(--info_t1);
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem var(--info_shadow);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: var(--info_t1);
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t1);
  border-color: var(--info_t1);
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--info_shadow);
}

.list-group-item-info {
  color: var(--info_t5);
  background-color: var(--info_t4);
}

.list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
  color: var(--info_t5);
  background-color: var(--info_t3);
}

.list-group-item-info.list-group-item-action.active {
  color: var(--info_text_color_dark_bright);
  background-color: var(--info_t5);
  border-color: var(--info_t5);
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: var(--info_t4);
}

.table-hover .table-info:hover {
  background-color: var(--info_t3);
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: var(--info_t3);
}

.text-info {
  color: var(--info_t1) !important;
}

a.text-info:hover, a.text-info:focus {
  color: var(--info_t2) !important;
}
