.card-prdct {
   display: table;
   width: 15rem;
   min-height: fit-content;
   height: 450px;
   margin: 0.8rem;
   text-align: center;
}

.card-prdct:hover {
   box-shadow:var(--default_shadow) 4px 4px 4px;
   border: 1px solid var(--dark_shadow);
}

.card-img {
   padding: 2rem;
   max-height: 50%;
   margin: auto;
   top: 0;
   object-fit: scale-down; 
}

.card-bdy {
   display: block;
   padding-bottom: 0;
   margin-left: -0.8rem;
   height: max-content;
   position:absolute;
   top: 40%;
   width: 100%;
   transform: translateY(20%);
}

.d-grid.gap-2 {
   display: flex;
   margin: 0.8rem;
   margin-top: 0;
   margin-bottom: 0;
   position: absolute;
   bottom: 0.8rem;
   transform: translateY(-20%);
   width: 78%;
}

 .modal-header{
   width: 100%;
   display: inline-block;
   background-color: var(--secondary_t2);
   text-align: center;
   color: var(--light_t3);
}

.modal-footer{
   background-color: var(--secondary_t4);
} 